{% set background_image = page.header.background_image ? page.media[page.header.background_image] : page.media.images|first %}
<footer class="footer" {% if background_image %} style="background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 172, 204, .7)), to(rgba(0, 129, 153, .7))), url({{ background_image.url }}); background-image: linear-gradient(to top, rgba(0, 172, 204, .7), rgba(0, 129, 153, .7)), url({{ background_image.url }});"{% endif %} role="contentinfo" itemscope itemtype="http://schema.org/WPFooter">
	<div class="grid-container inner">
		<h2 data-aos="fade" class="major bubbles" itemprop="headline">{{ page.header.title }}</h2>
		<div data-aos="fade" data-aos-delay="500">{{ page.content }}</div>
		<div class="grid-x grid-padding-x">
			<div data-aos="fade-right" data-aos-delay="1000" class="first-column large-6 medium-6 cell">
				<ul class="menu social">
					{% if page.header.facebook.url %}
						<li itemprop="url">
							<a href="{{ page.header.facebook.url }}" class="small button" title="Visit us on Facebook" target="_blank" rel="me" itemprop="name"><svg class="icon icon-{{ page.header.facebook.icon }}"><use xlink:href="#icon-{{ page.header.facebook.icon }}"></use></svg>&nbsp;Facebook</a>
						</li>
					{% endif %}
					{% if page.header.instagram.url %}
						<li itemprop="url">
							<a href="{{ page.header.instagram.url }}" class="small button" title="Follow us on Instagram" target="_blank" rel="me" itemprop="name"><svg class="icon icon-{{ page.header.instagram.icon }}"><use xlink:href="#icon-{{ page.header.instagram.icon }}"></use></svg>&nbsp;Instagram</a>
						</li>
					{% endif %}
				</ul>
				<div id="form-result" role="alert"></div>
				{% include "forms/form.html.twig" with { form: forms('contact-form')|raw } %}
			</div>
			<div data-aos="fade-left" data-aos-delay="1000" class="second-column large-6 medium-6 cell">
				<div class="flex-container info">
					<div class="info-icon">
						<svg class="icon icon-apartment-building"><use xlink:href="#icon-apartment-building"></use></svg>
					</div>
					<div>
						<span class="info-title">Location</span><br>
						<div itemscope itemtype="https://schema.org/LocalBusiness">
							<span class="info-text" itemprop="name">{{ site.title|e('html') }}</span><br>
							<div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                                <span class="info-text" itemprop="streetAddress">{{ page.header.location.streetaddress }},</span><br>
                                <span class="info-text" itemprop="addressLocality">{{ page.header.location.suburb }}</span>&nbsp;
                                <span class="info-text" itemprop="addressRegion">{{ page.header.location.state }}</span>&nbsp;
                                <span class="info-text" itemprop="postalCode">{{ page.header.location.postcode }}</span>
                            </div>
                            <div itemprop="image" itemscope itemtype="http://schema.org/ImageObject">
                                <img aria-hidden="true" class="hide" alt="{{ site.title|e('html') }}" src="{{ background_image.url }}" width="{{ background_image.width }}" height="{{ background_image.height }}" itemprop="url">
                            </div>
						</div>
					</div>
				</div>
				<div class="map-container">
					<div id="map" class="google-map"></div>
				</div>
				<div class="contact-info">
					{% if page.header.opening_hours.daystart %}
						<div class="flex-container info">
							<div class="info-icon">
								<svg class="icon icon-clock"><use xlink:href="#icon-clock"></use></svg>
							</div>
							<div>
								<span class="info-title">Opening Hours</span><br>
								<div itemscope itemtype="https://schema.org/LocalBusiness">
                                    <span class="hide" itemprop="name">{{ site.title|e('html') }}</span>
                                    <span class="info-text" itemprop="description">{{ page.header.opening_hours.description }}</span><br>
									<span class="info-text" itemprop="openingHours" content="{{ page.header.opening_hours.daystart|date("D")|slice(0, 2) }}-{{ page.header.opening_hours.dayend|date("D")|slice(0, 2) }} {{ page.header.opening_hours.timestart|date('H:i') }}-{{ page.header.opening_hours.timeend|date('H:i') }}">
                                        {{ page.header.opening_hours.daystart|date("l") }}&nbsp;&ndash;&nbsp;{{ page.header.opening_hours.dayend|date("l") }}&nbsp;{{ page.header.opening_hours.timestart|date('h:ia') }}&nbsp;&ndash;&nbsp;{{ page.header.opening_hours.timeend|date('h:ia') }}
                                    </span>
                                    <div itemprop="image" itemscope itemtype="http://schema.org/ImageObject">
                                        <img aria-hidden="true" class="hide" alt="{{ site.title|e('html') }}" src="{{ background_image.url }}" width="{{ background_image.width }}" height="{{ background_image.height }}" itemprop="url">
                                    </div>
								</div>
							</div>
						</div>
					{% endif %}
					{% if page.header.location.number %}
						<div class="flex-container info">
							<div class="info-icon">
								<svg class="icon icon-call"><use xlink:href="#icon-call"></use></svg>
							</div>
							<div>
								<span class="info-title">Call</span><br>
								<div itemscope itemtype="https://schema.org/LocalBusiness">
                                    <span class="hide" itemprop="name">{{ site.title|e('html') }}</span>
									<span class="info-text" itemprop="telephone" content="{{ page.header.location.number }}">{{ page.header.location.number }}</span>
                                    <div itemprop="image" itemscope itemtype="http://schema.org/ImageObject">
                                        <img aria-hidden="true" class="hide" alt="{{ site.title|e('html') }}" src="{{ background_image.url }}" width="{{ background_image.width }}" height="{{ background_image.height }}" itemprop="url">
                                    </div>
								</div>
							</div>
						</div>
					{% endif %}
				</div>
			</div>
		</div>
		<div class="grid-x copyright align-center-middle">
			<nav class="cell medium-12 large-10 copyright-text" aria-label="Bottom Navigation">
				<ul class="menu">
					{% set currentYear = now|date("Y") %}
					<li class="menu-text" role="none">&copy;{{ currentYear }} {{ site.title|e('html') }}.</li>
					{% if page.header.privacy_policy_page %}
						<li class="menu-text" role="menuitem" itemprop="url"><a href="{{ base_url }}{{ page.header.privacy_policy_page }}" itemprop="name">Privacy</a></li>
					{% endif %}
                    {% if page.header.terms_and_conditions_page %}
                        <li class="menu-text" role="menuitem" itemprop="url"><a href="{{ base_url }}{{ page.header.terms_and_conditions_page }}" itemprop="name">Terms</a></li>
                    {% endif %}
				</ul>
			</nav>
			<div class="cell medium-12 large-2 copyright-logo">
				<a href="{{ home_url }}">
					<div class="show-for-sr">{{ site.title|e('html') }}</div>
					<svg class="icon-logo-mono"><use xlink:href="#icon-logo-mono"></use></svg>
				</a>
			</div>
		</div>
	</div>
</footer>
<script>
  function initMap() {

    var bubbleAndSqueak = {lat: {{ page.header.googlemaps.latitude }}, lng: {{ page.header.googlemaps.longitude }}};
      var map = new google.maps.Map(document.getElementById('map'), {
        center: bubbleAndSqueak,
        zoom: {{ page.header.googlemaps.zoom }},
        styles:
                [
                {
                    "featureType": "water",
                    "stylers": [
                        {
                            "color": "#40c1d9"
                        }
                    ]
                },
                {
                    "featureType": "administrative",
                    "elementType": "labels.text.stroke",
                    "stylers": [
                        {
                            "color": "#f5f6f6"
                        },
                        {
                            "weight": 6
                        }
                    ]
                },
                {
                    "featureType": "administrative",
                    "elementType": "labels.text.fill",
                    "stylers": [
                        {
                            "color": "#008199"
                        }
                    ]
                },
                {
                    "featureType": "road.highway",
                    "elementType": "geometry.stroke",
                    "stylers": [
                        {
                            "color": "#bfeaf2"
                        },
                        {
                            "lightness": 0
                        }
                    ]
                },
                {
                    "featureType": "road.arterial",
                    "elementType": "geometry.stroke",
                    "stylers": [
                        {
                            "color": "#7fd5e5"
                        },
                        {
                            "lightness": 0
                        }
                    ]
                },
                {
                    "featureType": "road",
                    "elementType": "labels.text.stroke",
                    "stylers": [
                        {
                            "lightness": 0
                        }
                    ]
                },
                {
                    "featureType": "road",
                    "elementType": "labels.text.fill",
                    "stylers": [
                        {
                            "lightness": 0
                        }
                    ]
                },
                {
                    "featureType": "road.highway",
                    "elementType": "labels.icon"
                },
                {
                    "featureType": "landscape",
                    "elementType": "labels",
                    "stylers": [
                        {
                            "visibility": "off"
                        }
                    ]
                },
                {
                    "featureType": "landscape",
                    "stylers": [
                        {
                            "lightness": 0
                        },
                        {
                            "color": "#bfdbdd"
                        }
                    ]
                },
                {
                    "featureType": "landscape.man_made",
                    "stylers": [
                        {
                            "visibility": "off"
                        }
                    ]
                },
                {
                    "featureType": "water",
                    "elementType": "labels.text.stroke",
                    "stylers": [
                        {
                            "lightness": 100
                        }
                    ]
                },
                {
                    "featureType": "water",
                    "elementType": "labels.text.fill",
                    "stylers": [
                        {
                            "lightness": -100
                        }
                    ]
                },
                {
                    "featureType": "poi",
                    "elementType": "labels.text.fill",
                    "stylers": [
                        {
                            "hue": "#40939b"
                        }
                    ]
                },
                {
                    "featureType": "poi",
                    "elementType": "labels.text.stroke",
                    "stylers": [
                        {
                            "lightness": 100
                        }
                    ]
                },
                {
                    "featureType": "poi",
                    "elementType": "labels.icon",
                    "stylers": [
                        {
                            "hue": "#006f79"
                        },
                        {
                            "saturation": 0
                        }
                    ]
                },
                {
                    "featureType": "poi",
                    "elementType": "geometry",
                    "stylers": [
                        {
                            "visibility": "on"
                        },
                        {
                            "color": "#7fb7bc"
                        }
                    ]
                },
                {
                    "featureType": "road.highway",
                    "elementType": "geometry.fill",
                    "stylers": [
                        {
                            "color": "#00accc"
                        },
                        {
                            "lightness": 0
                        }
                    ]
                },
                {
                    "featureType": "road.arterial",
                    "elementType": "geometry.fill",
                    "stylers": [
                        {
                            "color": "#bfdbdd"
                        },
                        {
                            "lightness": 0
                        }
                    ]
                },
                {
                    "featureType": "poi",
                    "elementType": "labels",
                    "stylers": [
                        {
                            "visibility": "simplified"
                        }
                    ]
                }
                ]
        });

        var icon = {
      url: '{{ theme_url }}/dist/assets/img/location-pin.svg',
      anchor: new google.maps.Point(69,118),
      scaledSize: new google.maps.Size(140,140)
    }

        var marker = new google.maps.Marker({
            position: bubbleAndSqueak,
            map: map,
            icon: icon
        });

        // listen for the window resize event & trigger Google Maps to update too
        window.onresize = function() {
            var currCenter = map.getCenter();
            google.maps.event.trigger(map, 'resize');
            map.setCenter(currCenter);
        };
  }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key={{ page.header.googlemaps.key }}&callback=initMap"></script>